/log
/bin
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
/app/assets/images/*
pickle-email-*.html
logo.png
*.ttf

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/secrets.yml
config/settings.yml
config/database.yml

## Environment normalisation:
/.bundle
/vendor/bundle

## Deployment - don't include Project specific configuration
config/deploy/lama_production.rb
config/deploy/luftschloss_production.rb
config/deploy/schwerelos_production.rb
config/deploy/staging.rb
config/deploy/test_server.rb

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ingore swap files
*.swp

spec/examples.txt
