.col-sm-2.buttons
  %button{type: 'submit', class: "btn btn-primary", title: t('.save')}
    %i.glyphicon.glyphicon-save
  = link_to setting_path(setting), method: :delete, class: 'btn btn-primary', remote: true, title: t('.reset') do
    %i.glyphicon.glyphicon-refresh
