- present balance do |b|
  %tr[balance]
    %td= b.date
    %td= Balance.model_name.human
    %td
    %td.money
    %td.money
    %td
    %td.money= b.end_amount
    %td.actions
      -if balance.persisted?
        links
