%tr.search
  %td
  %td.col-sm-2
    .form-group
      = f.search_field :year_eq, class: 'form-control', placeholder: t('simple_form.placeholders.year_eq')
  %td
    .form-group
      = f.search_field :credit_agreement_creditor_name_or_credit_agreement_creditor_first_name_cont, 
        class: 'form-control', placeholder: t('simple_form.placeholders.name_cont')
  %td
  %td
  %td
  %td
  %td
  %td.actions
    %button.btn.btn-default.btn-primary{type: :submit, title: t('simple_form.labels.defaults.search')}
      %span.glyphicon.glyphicon-search

