project_name: 
website_url: 
interest_method_url: 
mailer_sender: 
smtp_settings:
  address: 
  port: 
  authentication: 
  enable_starttls_auto: true
  user_name: 
  password: 
exception_mailer:
  email: 
    email_prefix: '[Prefix] '
    sender_address: 'sender@example.org'
    exception_recipients: 
      - 'recipient.one@example.org'
      - 'recipient.two@example.org'
