-if policy(:letter).new?
  .dropdown.pull-right
    %small.dropdown-toggle{type: "button", id: "add_creditor", data: {toggle: "dropdown"}}
      =icon_link '', icon: 'plus'
    %ul.dropdown-menu
      = authorized_link :new, :standard_letter, t('.new_standard_letter'), id: 'add_standard_letter', wrap: :li
      = authorized_link :new, :balance_letter, t('.new_balance_letter'), id: 'add_balance_letter', wrap: :li
      = authorized_link :new, :termination_letter, t('.new_termination_letter'), id: 'add_termination_letter', wrap: :li

