-if policy(:creditor).new?
  .dropdown.pull-right
    %small.dropdown-toggle{type: "button", id: "add_creditor", data: {toggle: "dropdown"}}
      =icon_link_to 'plus', ''
    %ul.dropdown-menu
      -if policy(:person).new?
        %li= link_to t('.new_person'), new_person_path, id: 'add_person' 
      -if policy(:organization).new?
        %li= link_to t('.new_organization'), new_organization_path, id: 'add_organization'
