-if policy(:creditor).new?
  .dropdown.pull-right
    %small.dropdown-toggle{type: "button", id: "add_creditor", data: {toggle: "dropdown"}}
      =icon_link '', icon: 'plus'
    %ul.dropdown-menu
      = authorized_link :new, :person, t('.new_person'), id: 'add_person', wrap: :li
      = authorized_link :new, :organization, t('.new_organization'), id: 'add_organization', wrap: :li
