%tr.search
  %td
    = f.search_field :name_or_first_name_cont, class: 'form-control',
      placeholder: t('simple_form.placeholders.name_cont')
  %td
    = f.search_field :street_number_cont, class: 'form-control',
      placeholder: t('simple_form.placeholders.street_number_cont')
  %td
    = f.search_field :zip_or_city_cont, class: 'form-control',
      placeholder: t('simple_form.placeholders.zip_or_city_cont')
  %td
    = f.select :country_code_eq,
      Creditor.pluck(:country_code).uniq.sort.map{|cc| [t(cc, scope: :countries), cc]},
      {include_blank: t('simple_form.placeholders.country_code_eq')},
      {class: 'form-control'}
  %td
  %td.actions
    %button.btn.btn-default.btn-primary{type: :submit, title: t('simple_form.labels.defaults.search')}
      %span.glyphicon.glyphicon-search

