%h2
  = t 'contacts.title', count: :many
  -if policy(:contact).new?
    = icon_link_to :plus, new_organization_contact_path(address), class: 'pull-right', id: 'add_contact'
= render :partial => 'addresses/contacts_table'

