%h2
  = t('addresses.show.accounts')
  -if policy(:contact).new?
    = icon_link_to :plus, new_person_account_path(address), class: 'pull-right', id: 'add_account'
= render :partial => 'addresses/accounts_table'
