@import balances

#new_payment_form
  .form-group
    vertical-align: top
    margin-bottom: 1em
table
  tr
    &.auto_balance
      @extend .bg-info 
    &.manual_balance, &.auto_balance, &.termination_balance
      td
        font-weight: bold
    &.interest
      background-color: #F9F9F9
