@import balances

#new_payment_form, #termination_form
  .form-group
    vertical-align: top
    margin-bottom: 1em
table
  tr
    &.auto_balance
      @extend .bg-info 
    &.manual_balance, &.auto_balance, &.termination_balance
      td
        font-weight: bold
    &.interest
      background-color: #F9F9F9

#history
  h2
    font-size: 2em
    margin-top: 0px
  h3
    font-size: 1.6em
    margin-bottom: 0.4em
    border-bottom: 1px solid gray
    small
      font-size: 0.7em
