.row
  margin-bottom: 1em
.panel-body
  h3
    font-size: 1.3em
    border-bottom: 1px solid lightgray
  h4
    font-size: 1.15em
    margin-left: 3em
    text-decoration: underline
input[type='file']
  border: none
  box-shadow: none
  padding-top: 0
  padding-left: 0
.input-group-addon.file-setting
  background: none
  border: none
