%p Hallo #{@resource.first_name}!
%p Jemand hat einen link zum 채ndern deines Passwortes angefordert. Du kannst das 체ber den folgenden Link tun.
%p= link_to 'Mein Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token)
%p Solltes du diesen Link nicht angefordert haben, ignorier diese email einfach.
%p Dein Passwort 채ndert sich nicht, solange du nicht den obigen Link besuchst und ein neues Passwort vergibtst.

