-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |key, value|
  - if value.is_a?(String)
    %div{:class => flash_class(key)}
      %button{close_button_attributes} &times;
      = content_tag :div, value, :id => "flash_#{key}"
  - elsif value.is_a?(Array)
    - value.uniq.each do |message|
      %div{:class => flash_class(key)}
        %button{close_button_attributes} &times;
        = content_tag :div, message, :id => "flash_#{key}"
